<h2>Add Invoice</h2>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm"  > <!-- on event of submit. #f is a local varibale named "f" known only in template -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [(ngModel)]="invoice.name"
           >
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text"
            class="form-control"
            id="amount"
            name="amount"
            required
            [(ngModel)]="invoice.amount"
            >      
  </div>
  
  <button  type="submit" class="btn btn-primary" >Save invoice</button>
  
  
</form>