<jce-invoice-form (invoiceAddedEvent) = "addinvoice($event)"> </jce-invoice-form>

<div>
   <h1>
     List of invoices
</h1>
<jce-spinner [visible] = "isLoading"></jce-spinner>

  <ul class="list-group invoices"> 
    
    <li *ngFor = "let invoice of invoices" 
         [class.active]="currentInvoice == invoice"
         (click) = "select(invoice)" 
          class="list-group-item" >
        <!--> <jce-user [user]= "user"
         (deleteEvent) = "deleteUser($event)"></jce-user>     <
         //<jce-invoice [invoice] = invoice (deleteEvent) = "deleteUser($event)" user (editEvent) = "updateUser($event)"></jce-user>

            <ul>
         <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>    
!-->
<span  >Product name: {{invoice.name}}, Amount: {{invoice.amount}}</span>

    </li>
  </ul>
</div>