 
    
           <td> <button (click) = "sendDelete()" >Delete</button></td>
 <!--




 <table border="1" class="eden" >
<td style= 10px> {{product.pid}} </td>
           <td style= 10px> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>

     <span *ngIf = "isEdit">
     Name: <input type = "text" [(ngModel)] = "user.name"> 
     Email <input type = "text" [(ngModel)] = "user.email">
 </span><span>pid: {{product.pid}}, pname: {{product.pname}} , cost: {{product.cost}} , categoryId: {{product.categoryId}}</span>
 <button (click) = "toggleEdit()" >{{editButtonText}}</button>-->

     
